<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.20" targetFramework="win81" />
  <package id="MVVMHelpers.Metro81" version="2013.2.00.00" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="win81" />
</packages>